ul {
    list-style-type: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px;
    list-style-type: none;
}

.table-wrapper {
    margin: 20px;
    text-align: center;
}

.footer-wrapper {
    text-align: center;
    margin: 10px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
    text-align: center;
}

.hoverRow:hover {
    background-color: #fcf4ff;
    cursor: pointer;
}

.listTable {
    border-collapse: collapse;
}

.listTable tbody tr td {
    border: 1px solid rgb(50, 50, 50);
    padding: 5px;
}

.listTableIndex {
    width: 20%;
}

.listTableTitle {
    width: 70%;
}

.readCnt {
    width: 10%;
}

th {
    text-align: center;
}

.noData {
    color: rgb(150, 150, 150);
    text-align: center;
}

.inputTitle {
    width: 350px;
    font-size: 16px;
    margin: 5px;
}

.inputContent {
    width: 350px;
    margin: 5px;
    font-size: 16px;
    height: 200px;
}

.editBtn,
.deleteBtn {
    margin: 10px;
}